<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<system.webServer>

		<!-- Python FastCGI Handler -->
		<handlers>
            <remove name="Python" />
			<add name="Python FastCGI" path="*.py" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python311\python.exe|C:Python311\LIB\site-packages\wfastcgi.py" resourceType="Either" requireAccess="Script" />
		</handlers>

		<!-- FastCGI Settings -->
		<fastCgi>
			<application fullPath="C:\Python311\python.exe" arguments="C:\Python311\Lib\site-packages\wfastcgi.py">
				<environmentVariables>
					<!-- Path to your app's WSGI entry point -->
					<add name="WSGI_HANDLER" value="app.app" />
					<add name="PYTHONPATH" value="C:\Users\timot\source\repos\roku-voice-assistant\mobile_app" />
					<add name="WSGI_LOG" value="C:\Users\timot\source\repos\roku-voice-assistant\wfastcgi.log" />
				</environmentVariables>
			</application>
		</fastCgi>

		<!-- Disable directory browsing -->
		<directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension, LongDate" />
        <security>
            <authorization>
                <remove users="*" roles="" verbs="" />
                <add accessType="Allow" users="*" />
            </authorization>
        </security>

	</system.webServer>

</configuration>
